<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Profile | Bulk SMS</title>
    <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/material-icon.css" />
    <link rel="stylesheet" href="./css/materialize.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <!-- TOP NAVBAR -->
    <div class="navbar navbar-dark navbar-expand-md fixed-top">
        <div class="container-fluid">
            <div class="logo text-center">
                <span><img class="img-fluid d-none nav-icon" src="./images/logo-alt.png" alt="" /></span>
                <a class="navbar-brand logo-title m-0" href="dashboard.html">ATMOTECH</a>
            </div>

            <!-- FOR 0 TO 767PX -->
            <div class="hamburger navbar-toggler border-0" data-toggle="collapse" data-target="#navbarNav">
                <div class="hamburger_inner">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>

            <!-- FOR 768 TO MAX -->
            <div class="hamburger sidetoggle d-none d-md-block">
                <div class="hamburger_inner">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>

            <!-- MAIN NAVBAR RIGHT SIDE AND SMALL SCREEN NAVBAR -->
            <div id="navbarNav" class="collapse navbar-collapse mynav">
                <!-- USER INFO -->
                <ul class="navbar-nav ml-auto d-none d-md-block">
                    <div class="dropdown mr-5">
                        <a class="btn waves-effect dropdown-toggle" href="#" data-toggle="dropdown">01718624208</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Balance: 100000 SMS</a>
                            <a class="dropdown-item" href="accountinfo.html"><i
                                    class="fas fa-info-circle mr-2"></i>Account Info</a>
                            <a class="dropdown-item" href="updatepro.html"><i class="fas fa-cog mr-2"></i>Update
                                Profile</a>
                            <a class="dropdown-item" href="changepass.html"><i class="fas fa-key mr-2"></i>Change
                                Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html"><i
                                    class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                        </div>
                    </div>
                </ul>

                <!-- SMALL SCREEN NAVBAR -->
                <ul class="navbar-nav d-md-none text-center navbar-sm">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sendsms.html">Send SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bulksms.html">Bulk SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="groupsms.html">Group SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="smshistory.html">SMS History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="managegroup.html">Manage Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="accountinfo.html">Account Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="updatepro.html">Update Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="usermanual.html">User Manual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- TOP NAVBAR END -->

    <!-- MAIN CONTENT -->
    <div class="main_container">
        <!-- SIDEBAR START  -->
        <div class="sidebar">
            <div class="sidebar_inner">
                <i class="header-icon mb-3 mt-4 fas fa-paper-plane"></i>
                <div class="header-title my-3">Bulk SMS Service</div>
                <ul>
                    <li>
                        <a href="dashboard.html">
                            <span class="icon"><i class="fas fa-th-large"></i></span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="sendsms.html">
                            <span class="icon"><i class="fas fa-sms"></i></span>
                            <span class="title">Send SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="bulksms.html">
                            <span class="icon"><i class="fas fa-mail-bulk"></i></span>
                            <span class="title">Bulk SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="groupsms.html">
                            <span class="icon"><i class="fas fa-users"> </i></span>
                            <span class="title">Group SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="smshistory.html">
                            <span class="icon"><i class="fas fa-history"> </i></span>
                            <span class="title">SMS History</span>
                        </a>
                    </li>
                    <li>
                        <a href="managegroup.html">
                            <span class="icon"><i class="fas fa-users-cog"> </i></span>
                            <span class="title">Manage Group</span>
                        </a>
                    </li>
                    <li class="active-bar">
                        <a href="accountinfo.html">
                            <span class="icon"><i class="fas fa-info-circle"> </i></span>
                            <span class="title">Account Info</span>
                        </a>
                    </li>
                    <li>
                        <a href="updatepro.html">
                            <span class="icon"><i class="fas fa-cog"> </i></span>
                            <span class="title">Update Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="usermanual.html">
                            <span class="icon"><i class="fas fa-book"> </i></span>
                            <span class="title">User Manual</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SIDEBAR END -->

        <div class="container-fluid content-page">
            <!-- ACCOUNT INFO START -->
            <div class="content-box p-0 p-sm-4">

                <!-- ACCOUNT BALANCE INFORMATON START -->
                <div class="row justify-content-center m-0">
                    <div class="col-sm-6 col-lg-4 p-0 p-sm-3">
                        <div class="card balance-card balance">
                            <div class="card-body">
                                <div>
                                    <h3>Balance</h3>
                                </div>
                                <div>
                                    <h5>1000000 SMS</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 p-0 p-sm-3">
                        <div class="card balance-card start">
                            <div class="card-body">
                                <div>
                                    <h3>Start Date</h3>
                                </div>
                                <div>
                                    <h5>10/30/2020</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 p-0 p-sm-3">
                        <div class="card balance-card end">
                            <div class="card-body">
                                <div>
                                    <h3>End Date</h3>
                                </div>
                                <div>
                                    <h5>11/28/2020</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ACCOUNT BALANCE INFORMATON END -->

                <!-- TRANSACTION HISTORY START -->
                <div class="row justify-content-center m-0">
                    <div class="col-12 p-0 p-sm-3">
                        <div class="card transaction">
                            <div class="card-header">
                                <h5>Transaction History</h5>
                            </div>
                            <div class="card-body">
                                <!-- DATE FILTER START -->
                                <form class="px-5">
                                    <div class="form-row justify-content-center">
                                        <div class="col-lg-4">
                                            <label for="dateFrom" class="m-0 p-0">Date From</label>
                                            <input class="form-control input-contact w-75 myinput mt-2 px-4" type="date"
                                                value="" id="dateFrom">
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="dateTo" class="d-block m-0 p-0">Date To</label>
                                            <input class="form-control input-contact w-75 myinput mt-2 px-4" type="date"
                                                value="" id="dateTo">
                                        </div>
                                        <div class="col-lg-2">
                                            <button
                                                class="btn mybutton btn-contact dbnt d-block waves-effect light-blue-text text-darken-2"
                                                type="button">Go</button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <!-- DATE FILTER END -->
                                <!-- TRANSACTION HISTORY TABLE START -->
                                <div class="table-responsive table-wrap">
                                    <table class="table table-bordered table-condensed table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col-2" style="width: 5%;">#</th>
                                                <th scope="col-2" style="width: 20%;">Date</th>
                                                <th scope="col-2" style="width: 25%;">Package Name</th>
                                                <th scope="col-2" style="width: 20%;">Number of SMS</th>
                                                <th scope="col-2" style="width: 15%;">Amount (BDT)</th>
                                                <th scope="col-2" style="width: 15%;">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>11 OCT, 2020</td>
                                                <td>5500</td>
                                                <td>5500</td>
                                                <td>0</td>
                                                <td>Without Mask</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- TRANSACTION HISTORY TABLE START -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TRANSACTION HISTORY START -->

            </div>
            <!-- ACCOUNT INFO END -->
        </div>
    </div>

    <!-- JS FILES -->
    <script src="./js/jquery.slim.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/materialize.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>