<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password | Bulk SMS</title>
    <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/material-icon.css" />
    <link rel="stylesheet" href="./css/materialize.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <!-- TOP NAVBAR -->
    <div class="navbar navbar-dark navbar-expand-md fixed-top">
        <div class="container-fluid">
            <div class="logo text-center">
                <span><img class="img-fluid d-none nav-icon" src="./images/logo-alt.png" alt="" /></span>
                <a class="navbar-brand logo-title m-0" href="dashboard.html">ATMOTECH</a>
            </div>

            <!-- FOR 0 TO 767PX -->
            <div class="hamburger navbar-toggler border-0" data-toggle="collapse" data-target="#navbarNav">
                <div class="hamburger_inner">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>

            <!-- FOR 768 TO MAX -->
            <div class="hamburger sidetoggle d-none d-md-block">
                <div class="hamburger_inner">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>

            <!-- MAIN NAVBAR RIGHT SIDE AND SMALL SCREEN NAVBAR -->
            <div id="navbarNav" class="collapse navbar-collapse mynav">
                <!-- USER INFO -->
                <ul class="navbar-nav ml-auto d-none d-md-block">
                    <div class="dropdown mr-5">
                        <a class="btn waves-effect dropdown-toggle" href="#" data-toggle="dropdown">01718624208</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Balance: 100000 SMS</a>
                            <a class="dropdown-item" href="updatepro.html"><i class="fas fa-user mr-2"></i>Update
                                Profile</a>
                            <a class="dropdown-item" href="changepass.html"><i class="fas fa-key mr-2"></i>Change
                                Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html"><i
                                    class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                        </div>
                    </div>
                </ul>

                <!-- SMALL SCREEN NAVBAR -->
                <ul class="navbar-nav d-md-none text-center navbar-sm">
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sendsms.html">Send SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bulksms.html">Bulk SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="groupsms.html">Group SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="smshistory.html">SMS History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="managegroup.html">Manage Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="updatepro.html">Update Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="usermanual.html">User Manual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- TOP NAVBAR END -->

    <!-- MAIN CONTENT -->
    <div class="main_container">
        <!-- SIDEBAR START  -->
        <div class="sidebar">
            <div class="sidebar_inner">
                <i class="header-icon mb-3 mt-4 fas fa-paper-plane"></i>
                <div class="header-title my-3">Bulk SMS Service</div>
                <ul>
                    <li>
                        <a href="dashboard.html">
                            <span class="icon"><i class="fas fa-th-large"></i></span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="sendsms.html">
                            <span class="icon"><i class="fas fa-sms"></i></span>
                            <span class="title">Send SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="bulksms.html">
                            <span class="icon"><i class="fas fa-mail-bulk"></i></span>
                            <span class="title">Bulk SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="groupsms.html">
                            <span class="icon"><i class="fas fa-users"> </i></span>
                            <span class="title">Group SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="smshistory.html">
                            <span class="icon"><i class="fas fa-history"> </i></span>
                            <span class="title">SMS History</span>
                        </a>
                    </li>
                    <li>
                        <a href="managegroup.html">
                            <span class="icon"><i class="fas fa-users-cog"> </i></span>
                            <span class="title">Manage Group</span>
                        </a>
                    </li>
                    <li>
                        <a href="updatepro.html">
                            <span class="icon"><i class="fas fa-user"> </i></span>
                            <span class="title">Update Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="usermanual.html">
                            <span class="icon"><i class="fas fa-book"> </i></span>
                            <span class="title">User Manual</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SIDEBAR END -->

        <div class="container-fluid content-page">
            <!-- CHANGE PASSWORD START -->
            <div class="content-box p-0 p-sm-4">
                <div class="row justify-content-center m-0">
                    <div class="col-12 p-0 p-sm-3">
                        <div class="card info-card">
                            <div class="card-header">
                                <p class="title">Change Your Password</p>
                            </div>
                            <div class="card-body">
                                <form id="editInfo">
                                    <!-- Current Password -->
                                    <div class="form-row justify-content-center">
                                        <div class="col-11 col-md-6 col-xl-3">
                                            <label class="" for="current-pass">Current Password</label>
                                            <input type="password" class="" value="" id="current-pass">
                                        </div>
                                    </div>
    
                                    <!-- New Password -->
                                    <div class="form-row justify-content-center">
                                        <div class="col-11 col-md-6 col-xl-3">
                                            <label class="" for="new-pass">New Password</label>
                                            <input type="password" class="" value="" id="new-pass">
                                        </div>
                                    </div>
    
                                    <!-- Confirm Password -->
                                    <div class="form-row justify-content-center">
                                        <div class="col-11 col-md-6 col-xl-3">
                                            <label class="" for="confirm-pass">Confirm New Password</label>
                                            <input type="password" class="" value="" id="confirm-pass">
                                        </div>
                                    </div>
    
                                    <!-- SUBMIT BUTTONS -->
                                    <div class="form-row justify-content-center mt-3">
                                        <a href="#modalChangepass" class="btn waves-effect" data-toggle="modal">Change
                                            Password</a>
                                    </div>
    
                                    <!-- Modal Structure [password don't match] start -->
                                    <div class="modal fade" id="modalChangepass">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
    
                                                <div class="modal-body">
                                                    <p class="text-center text-danger">Password don't match</p>
                                                    <p class="text-center">Are you sure you want to change your password?
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn waves-effect grey darken-2 text-light"
                                                        data-dismiss="modal">
                                                        Back
                                                    </button>
                                                    <button type="button" class="btn waves-effect teal darken-1 text-light"
                                                        data-dismiss="modal">
                                                        Yes
                                                    </button>
                                                    <button type="button" class="btn waves-effect grey darken-2 text-light"
                                                        data-dismiss="modal">
                                                        No
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal Structure [password don't match] end -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CHANGE PASSWORD END -->
        </div>
    </div>

    <!-- JS FILES -->
    <script src="./js/jquery.slim.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/materialize.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>