<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Bulk SMS</title>
    <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/login.css" />
</head>

<body>
    <div class="login-form">
        <div class="logo"></div>
        <div class="title">
            <p class="m-0">User Login</p>
        </div>
        <div class="sub-title">
            <p>Login with your Account</p>
        </div>
        <div class="submit-field">
            <div class="username">
                <input class="user-input" type="text" placeholder="Usermane"> 
            </div>
            <div class="password">
                <input class="pass-input" type="password" placeholder="Password"> 
            </div>
            <button>Login</button>
            <div class="forgot-pass">
                <a href="#">forgot password</a>
            </div>
        </div>
    </div>

    <!-- JS FILES -->
    <script src="./js/jquery.slim.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>