<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bulk SMS | Atmotech</title>
    <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/material-icon.css" />
    <link rel="stylesheet" href="./css/materialize.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <!-- TOP NAVBAR -->
    <div class="navbar navbar-dark navbar-expand-md fixed-top">
        <div class="container-fluid">
            <div class="logo text-center">
                <span><img class="img-fluid d-none nav-icon" src="./images/logo-alt.png" alt="" /></span>
                <a class="navbar-brand logo-title m-0" href="index.html">ATMOTECH</a>
            </div>

            <!-- FOR 0 TO 767PX -->
            <div class="hamburger navbar-toggler border-0" data-toggle="collapse" data-target="#navbarNav">
                <div class="hamburger_inner">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>

            <!-- FOR 768 TO MAX -->
            <div class="hamburger sidetoggle d-none d-md-block">
                <div class="hamburger_inner">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>

            <!-- MAIN NAVBAR RIGHT SIDE AND SMALL SCREEN NAVBAR -->
            <div id="navbarNav" class="collapse navbar-collapse mynav">
                <!-- USER INFO -->
                <ul class="navbar-nav ml-auto d-none d-md-block">
                    <div class="dropdown mr-5">
                        <a class="btn waves-effect dropdown-toggle" href="#" data-toggle="dropdown">Sifat Hossain</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Balance: 10.00 BDT</a>
                            <a class="dropdown-item" href="updatepro.html"><i class="fas fa-user mr-2"></i>Update
                                Profile</a>
                            <a class="dropdown-item" href="changepass.html"><i class="fas fa-key mr-2"></i>Change
                                Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html"><i
                                    class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                        </div>
                    </div>
                </ul>

                <!-- SMALL SCREEN NAVBAR -->
                <ul class="navbar-nav d-md-none text-center navbar-sm">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sendsms.html">Send SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bulksms.html">Bulk SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="groupsms.html">Group SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="smslog.html">SMS Log</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="managegroup.html">Manage Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="updatepro.html">Update Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="usermanual.html">User Manual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- TOP NAVBAR END -->

    <!-- MAIN CONTENT -->
    <div class="main_container">
        <!-- SIDEBAR START  -->
        <div class="sidebar">
            <div class="sidebar_inner">
                <i class="header-icon mb-3 mt-4 fas fa-paper-plane"></i>
                <div class="header-title my-3">Bulk SMS Service</div>
                <ul>
                    <li>
                        <a href="index.html">
                            <span class="icon"><i class="fas fa-envelope"></i></span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="sendsms.html">
                            <span class="icon"><i class="fas fa-envelope"></i></span>
                            <span class="title">Send SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="bulksms.html">
                            <span class="icon"><i class="fas fa-envelope"></i></span>
                            <span class="title">Bulk SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="groupsms.html">
                            <span class="icon"><i class="fas fa-book-open"> </i></span>
                            <span class="title">Group SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="smslog.html">
                            <span class="icon"><i class="fas fa-users"> </i></span>
                            <span class="title">SMS Log</span>
                        </a>
                    </li>
                    <li class="active-bar">
                        <a href="managegroup.html">
                            <span class="icon"><i class="fas fa-money-check"> </i></span>
                            <span class="title">Manage Group</span>
                        </a>
                    </li>
                    <li>
                        <a href="updatepro.html">
                            <span class="icon"><i class="fas fa-user"> </i></span>
                            <span class="title">Update Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="usermanual.html">
                            <span class="icon"><i class="fas fa-book"> </i></span>
                            <span class="title">User Manual</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SIDEBAR END -->

        <div class="container-fluid content-page">

            <!-- MANAGE GROUP START -->
            <div id="manageGroup" class="row p-0 px-sm-4">
                <!-- TAB BAR -->
                <ul id="myTab" class="tabs tabs-fixed-width tab-demo z-depth-1">
                    <li class="tab"><a href="#addGroup">Add Group</a></li>
                    <li class="tab"><a href="#groupNumber">Add Contact Number</a></li>
                    <li class="tab"><a href="#manageContact">Manage Contacts</a></li>
                </ul>

                <!-- TAB CONTENT :- ADD GROUP START ================ -->
                <div id="addGroup" class="col tabbox">
                    <!-- ADDING NEW GROUP NAME -->
                    <form class="my-5">
                        <div class="form-row">
                            <div class="px-5 col-md-8 col-lg-6 col-xl-5 mx-auto">
                                <label for="">Enter Group Name:</label>
                                <input type="text" class="myinput form-control pl-4" id="groupName" autocomplete="off">
                                <button class="btn mybutton mt-3 d-block waves-effect" type="button">Add</button>
                            </div>
                        </div>
                    </form>
                    <!-- SEARCH GROUP AND SHOW GROUP DETAILS -->
                    <div class="card">
                        <div class="card-header">
                            <!-- SEARCH -->
                            <div class="input-group mb-2">
                                <input type="text" class="myinput form-control searchbox pl-4" id="searchGroup"
                                    placeholder="Search Group">
                                <div class="input-group-append">
                                    <button class="btn mybutton waves-effect" type="button">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- GROUP DETAILS TABLE -->
                            <div class="table-responsive table-wrap">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col-2" class="text-center" style="width: 6%;">#</th>
                                            <th scope="col-2" style="width: 40%;">Group Name</th>
                                            <th scope="col-2" class="text-center" style="width: 27%;">Number of Contact
                                            </th>
                                            <th scope="col-2" class="text-center" style="width: 27%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>Sifat Contact</td>
                                            <td class="text-center">26</td>
                                            <td class="text-center">
                                                <a href="#modalEdit" data-toggle="modal"><i class="fas fa-edit"></i></a>
                                                &nbsp;|&nbsp;
                                                <a href="#modalDelete" data-toggle="modal"><i
                                                        class="fas fa-trash-alt"></i></a>
                                            </td>

                                            <!-- ACTION EDIT -->
                                            <div class="modal fade" id="modalEdit">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Edit Group Name
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label for="editGroupName">Enter Group Name</label>
                                                            <input type="text" class="form-control" id="editGroupName"
                                                                autocomplete="off">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                class="btn waves-effect teal darken-1 text-light"
                                                                data-dismiss="modal">
                                                                Update
                                                            </button>
                                                            <button type="button"
                                                                class="btn waves-effect grey darken-2 text-light"
                                                                data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- ACTION EDIT -->
                                            <div class="modal fade" id="modalDelete">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Delete Group
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <p class="text-center">Are you sure you want to delete this
                                                                group?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                class="btn waves-effect teal darken-1 text-light"
                                                                data-dismiss="modal">
                                                                Yes
                                                            </button>
                                                            <button type="button"
                                                                class="btn waves-effect grey darken-2 text-light"
                                                                data-dismiss="modal">
                                                                No
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TAB CONTENT :- ADD GROUP END xxxxxxxxxxxxxxxxxx -->


                <!-- TAB CONTENT :- ADD CONTACT NUMBER START ================ -->
                <div id="groupNumber" class="col tabbox">
                    <div class="row">
                        <!-- Add Single Contract in group -->
                        <div class="col-xl-6">
                            <form class="my-5 px-5">
                                <h3 class="text-center">Add Single Contract</h3>
                                <div class="form-row my-3">
                                    <label for="">Enter Contract Number</label>
                                    <input type="number" class="myinput form-control pl-4" id="groupName"
                                        autocomplete="off">
                                </div>
                                <div class="form-row mb-4">
                                    <label for="">Enter Name</label>
                                    <input type="number" class="myinput form-control pl-4" id="groupName"
                                        autocomplete="off">
                                </div>
                                <div class="form-row">
                                    <div class="input-field myinput">
                                        <select>
                                            <option value="" disabled selected>Select Group</option>
                                            <option value="1">Sifat</option>
                                        </select>
                                        <label>Group Name</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button class="btn mybutton mt-3 d-block waves-effect teal-text text-darken-1"
                                        type="button">Add</button>
                                </div>
                            </form>
                        </div>

                        <!-- Add Contract From Excel -->
                        <div class="col-xl-6">
                            <form class="my-5 px-5">
                                <h3 class="text-center">Add Contract From Excel</h3>
                                <div class="form-row mb-3">
                                    <div class="file-field input-field w-100">
                                        <div class="btn waves-effect light-blue col-12 col-sm-6 mb-3 mb-sm-0">
                                            <span class="select-file">Select Excel File</span>
                                            <input class="myinput" type="file">
                                        </div>
                                        <div class="file-path-wrapper col-12 col-sm-6">
                                            <input class="file-path validate text-muted myinput text-center" type="text"
                                                disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="input-field myinput">
                                        <select>
                                            <option value="" disabled selected>Select Sheet</option>
                                            <option value="1">Sheet A</option>
                                        </select>
                                        <label>Sheet Name</label>
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="input-field myinput">
                                        <select>
                                            <option value="" disabled selected>Select Column</option>
                                            <option value="1">01</option>
                                        </select>
                                        <label>Column Name</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="input-field myinput">
                                        <select>
                                            <option value="" disabled selected>Select Group</option>
                                            <option value="1">sifat39</option>
                                        </select>
                                        <label>Group Name</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button class="btn mybutton mt-3 d-block waves-effect light-blue-text text-darken-2"
                                        type="button">Import</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- TAB CONTENT :- ADD CONTACT NUMBER END xxxxxxxxxxxxxxxxxx -->


                <!-- TAB CONTENT :- MANAGE CONTACTS START ================ -->
                <div id="manageContact" class="col tabbox">
                    <div class="card">
                        <div class="card-header">
                            <form class="px-5">
                                <div class="form-row">
                                    <div class="col-md-6 col-xl-4">
                                        <div class="input-field myinput">
                                            <select>
                                                <option value="" disabled selected>Select Group</option>
                                                <option value="1">01</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <input type="text" class="myinput input-contact form-control pl-4"
                                            id="searchnumber" placeholder="Enter Name or Number" autocomplete="off">
                                    </div>
                                    <div class="col-md-6 col-xl-4">
                                        <button
                                            class="btn mybutton btn-contact d-block waves-effect light-blue-text text-darken-2"
                                            type="button">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-wrap">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col-2" class="text-center" style="width: 6%;">#</th>
                                            <th scope="col-2" style="width: 30%;">Group</th>
                                            <th scope="col-2" style="width: 30%;">Name</th>
                                            <th scope="col-2" class="text-center" style="width: 19%;">Contact Number
                                            </th>
                                            <th scope="col-2" class="text-center" style="width: 15%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>Sifat Contact</td>
                                            <td>Oifat</td>
                                            <td class="text-center">01718624208</td>
                                            <td class="text-center">
                                                <a href="#contactEdit" data-toggle="modal"><i
                                                        class="fas fa-edit"></i></a>
                                                &nbsp;|&nbsp;
                                                <a href="#contactDelete" data-toggle="modal"><i
                                                        class="fas fa-trash-alt"></i></a>
                                            </td>

                                            <!-- Modal Structure [edit] -->
                                            <div class="modal fade" id="contactEdit">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Edit Contact Number
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <label for="editContactName">Name</label>
                                                            <input type="text" class="form-control" id="editContactName" autocomplete="off">
                                                            <label for="editName">Contact Number</label>
                                                            <input type="number" class="form-control" id="editName">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                class="btn waves-effect teal darken-1 text-light"
                                                                data-dismiss="modal">
                                                                Update
                                                            </button>
                                                            <button type="button"
                                                                class="btn waves-effect grey darken-2 text-light"
                                                                data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal Structure [delete] -->
                                            <div class="modal fade" id="contactDelete">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Delete Contact
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <p class="text-center">Are you sure you want to delete this
                                                                contact?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                class="btn waves-effect teal darken-1 text-light"
                                                                data-dismiss="modal">
                                                                Yes
                                                            </button>
                                                            <button type="button"
                                                                class="btn waves-effect grey darken-2 text-light"
                                                                data-dismiss="modal">
                                                                No
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TAB CONTENT :- MANAGE CONTACTS END xxxxxxxxxxxxxxxxxx -->
            </div>
            <!-- MANAGE GROUP END -->

        </div>
    </div>

    <!-- JS FILES -->
    <script src="./js/jquery.slim.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/materialize.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>