<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bulk SMS | Atmotech</title>
    <link rel="shortcut icon" href="./images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/material-icon.css" />
    <link rel="stylesheet" href="./css/materialize.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <!-- TOP NAVBAR -->
    <div class="navbar navbar-dark navbar-expand-md fixed-top">
        <div class="container-fluid">
            <div class="logo text-center">
                <span><img class="img-fluid d-none nav-icon" src="./images/logo-alt.png" alt="" /></span>
                <a class="navbar-brand logo-title m-0" href="index.html">ATMOTECH</a>
            </div>

            <!-- FOR 0 TO 767PX -->
            <div class="hamburger navbar-toggler border-0" data-toggle="collapse" data-target="#navbarNav">
                <div class="hamburger_inner">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>

            <!-- FOR 768 TO MAX -->
            <div class="hamburger sidetoggle d-none d-md-block">
                <div class="hamburger_inner">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>

            <!-- MAIN NAVBAR RIGHT SIDE AND SMALL SCREEN NAVBAR -->
            <div id="navbarNav" class="collapse navbar-collapse mynav">
                <!-- USER INFO -->
                <ul class="navbar-nav ml-auto d-none d-md-block">
                    <div class="dropdown mr-5">
                        <a class="btn waves-effect dropdown-toggle" href="#" data-toggle="dropdown">Sifat Hossain</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Balance: 10.00 BDT</a>
                            <a class="dropdown-item" href="updatepro.html"><i class="fas fa-user mr-2"></i>Update
                                Profile</a>
                            <a class="dropdown-item" href="changepass.html"><i class="fas fa-key mr-2"></i>Change
                                Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html"><i
                                    class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                        </div>
                    </div>
                </ul>

                <!-- SMALL SCREEN NAVBAR -->
                <ul class="navbar-nav d-md-none text-center navbar-sm">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sendsms.html">Send SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bulksms.html">Bulk SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="groupsms.html">Group SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="smshistory.html">SMS History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="managegroup.html">Manage Group</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="updatepro.html">Update Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="usermanual.html">User Manual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- TOP NAVBAR END -->

    <!-- MAIN CONTENT -->
    <div class="main_container">
        <!-- SIDEBAR START  -->
        <div class="sidebar">
            <div class="sidebar_inner">
                <i class="header-icon mb-3 mt-4 fas fa-paper-plane"></i>
                <div class="header-title my-3">Bulk SMS Service</div>
                <ul>
                    <li>
                        <a href="index.html">
                            <span class="icon"><i class="fas fa-envelope"></i></span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="sendsms.html">
                            <span class="icon"><i class="fas fa-envelope"></i></span>
                            <span class="title">Send SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="bulksms.html">
                            <span class="icon"><i class="fas fa-envelope"></i></span>
                            <span class="title">Bulk SMS</span>
                        </a>
                    </li>
                    <li>
                        <a href="groupsms.html">
                            <span class="icon"><i class="fas fa-book-open"> </i></span>
                            <span class="title">Group SMS</span>
                        </a>
                    </li>
                    <li class="active-bar">
                        <a href="smshistory.html">
                            <span class="icon"><i class="fas fa-users"> </i></span>
                            <span class="title">SMS History</span>
                        </a>
                    </li>
                    <li>
                        <a href="managegroup.html">
                            <span class="icon"><i class="fas fa-money-check"> </i></span>
                            <span class="title">Manage Group</span>
                        </a>
                    </li>
                    <li>
                        <a href="updatepro.html">
                            <span class="icon"><i class="fas fa-user"> </i></span>
                            <span class="title">Update Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="usermanual.html">
                            <span class="icon"><i class="fas fa-book"> </i></span>
                            <span class="title">User Manual</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SIDEBAR END -->

        <div class="container-fluid content-page">

            <!-- SMS HISTORY START -->
            <div id="smsHistory" class="row p-0 px-sm-4">
                <!-- TAB BAR -->
                <ul id="myTab" class="tabs tabs-fixed-width tab-demo z-depth-1">
                    <li class="tab"><a href="#smsReport">SMS Report</a></li>
                    <li class="tab"><a href="#messageReport">Message Report</a></li>
                </ul>

                <!-- TAB CONTENT :- SMS Report START ================ -->
                <div id="smsReport" class="col tabbox">

                    <!-- DATE SEARCH AND SHOW SMS REPORT -->
                    <div class="card mt-4">
                        <div class="card-header">
                            <!-- INPUT DATE AND SEARCH -->
                            <form class="px-5">
                                <div class="form-row justify-content-center">
                                    <div class="col-lg-4">
                                        <label for="dateFrom" class=" m-0 p-0">Date From</label>
                                        <input class="form-control input-contact w-75 myinput mt-2 px-4" type="date"
                                            value="" id="dateFrom">
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="dateTo" class="d-block m-0 p-0">Date To</label>
                                        <input class="form-control input-contact w-75 myinput mt-2 px-4" type="date"
                                            value="" id="dateTo">
                                    </div>
                                    <div class="col-lg-2">
                                        <button
                                            class="btn mybutton btn-contact dbnt d-block waves-effect light-blue-text text-darken-2"
                                            type="button">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <!-- GROUP DETAILS TABLE -->
                            <div class="table-responsive table-wrap">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col-2" style="width: 5%;">#</th>
                                            <th scope="col-2" style="width: 20%;">Date/Time</th>
                                            <th scope="col-2" style="width: 15%;">Total SMS</th>
                                            <th scope="col-2" style="width: 15%;">Successful</th>
                                            <th scope="col-2" style="width: 15%;">Failed</th>
                                            <th scope="col-2" style="width: 15%;">Type</th>
                                            <th scope="col-2" style="width: 15%;">Cost (BDT)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>11 OCT, 2020 4:22 PM</td>
                                            <td>5500</td>
                                            <td>5500</td>
                                            <td>0</td>
                                            <td>Without Mask</td>
                                            <td>825.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TAB CONTENT :- SMS ReportEND xxxxxxxxxxxxxxxxxx -->


                <!-- TAB CONTENT :- Message Report START ================ -->
                <div id="messageReport" class="col tabbox">

                    <!-- DATE SEARCH AND SHOW MESSAGE REPORT -->
                    <div class="card mt-4">
                        <div class="card-header">
                            <!-- INPUT DATE AND SEARCH -->
                            <form class="px-5">
                                <div class="form-row justify-content-center">
                                    <div class="col-md-6 col-xl-3">
                                        <label for="MdateFrom" class="d-block m-0 p-0">Date From</label>
                                        <input class="form-control input-contact w-75 myinput mt-2 px-4" type="date"
                                            value="" id="MdateFrom">
                                    </div>
                                    <div class="col-md-6 col-xl-3 ml-xl-3">
                                        <label for="MdateTo" class="d-block m-0 p-0">Date To</label>
                                        <input class="form-control input-contact w-75 myinput mt-2 px-4" type="date"
                                            value="" id="MdateTo">
                                    </div>
                                    <div class="col-md-6 col-xl-3">
                                        <input class="form-control input-contact w-75 myinput binp px-4" type="text"
                                            value="" id="MdateTo" placeholder="Enter Search Keyword">
                                    </div>
                                    <div class="col-md-6 col-xl-2">
                                        <button
                                            class="btn mybutton btn-contact dbnt d-block waves-effect light-blue-text text-darken-2"
                                            type="button">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <!-- GROUP DETAILS TABLE -->
                            <div class="table-responsive table-wrap">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col-2" style="width: 5%;">#</th>
                                            <th scope="col-2" style="width: 20%;">Date/Time</th>
                                            <th scope="col-2" style="width: 10%;">Recipients</th>
                                            <th scope="col-2" style="width: 30%;">Message</th>
                                            <th scope="col-2" style="width: 5%;">Count</th>
                                            <th scope="col-2" style="width: 10%;">Type</th>
                                            <th scope="col-2" style="width: 10%;">Cost (BDT)</th>
                                            <th scope="col-2" style="width: 10%;">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>11 OCT, 2020 4:22 PM</td>
                                            <td>01718624208</td>
                                            <td>Hello, I am from atmotech</td>
                                            <td>25</td>
                                            <td>Without Mask</td>
                                            <td>0.15</td>
                                            <td>
                                                <div class="status">Success</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TAB CONTENT :- Message Report END xxxxxxxxxxxxxxxxxx -->
            </div>
            <!-- MANAGE GROUP END -->

        </div>
    </div>

    <!-- JS FILES -->
    <script src="./js/jquery.slim.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/materialize.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>